.App {
  padding-top: 0px;
  height: 55px;
  width: 100%;
  background-color: #f8f6f6;
}

li{
  color:black;
  list-style: none;
}

ul{
  display: flex;
  margin-left: 40%; 
  
}

.linkHome{
  padding-right: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

ul li .mena{
  display: none;
}

@media only screen and (max-width: 1024px){
  
  .Menu{
    margin: 0;
    font-size: 14px;
    padding-right: 100%;
    display: flex;
  }
  ul li{
    padding-left: 15%;
  }
  ul li .mena{
    margin-right: 5%;
    display: flex;
  }
}