*{
    font-family: 'Noto Sans', sans-serif;
}

body{
    background-color: #f8f6f6;
}

.main{
    margin: 10%;
}

.icerik{
    margin-left: 10%;
    margin-top: 5%;
    
}

.responsiveh1{
    padding-left: 330px;
    margin-bottom: -20px;
}
.responsiveh3 {
    font-size: 16px;
    margin-right: 25%;
    padding-left: 400px;
}